<main class="{{styles.selectchat__container}}">
  {{{chatsList}}}
  {{#if chatId}}
    {{{messenger}}}
      {{else}}
      <div class="{{styles.temporary}}">Пожалуйста, выберите чат</div>
  {{/if}}
</main>