<div class="{{ContainerStyle}}">
    <p class="{{InputHeaderStyle}}">{{login}}</p>
    <input type="text" class="{{InputStyle}}">
</div>
<div class="{{ContainerStyle}} {{ContainerMixin}}">
    <p class="{{InputHeaderStyle}}">{{password}}</p>
    <input type="password" class="{{InputStyle}}">
</div>