{{#each profileData}}
        <div class="{{../profileBoxStyle}}">
            <h class="{{../headerStyle}}">{{label}}</h>
            <p class="{{../headerInfo}}">{{value}}</p>
        </div>
{{/each}}