<div class="

    {{#if myMsg}}
        {{styles.to__container}}
    {{else}}
        {{styles.from__container}}
    {{/if}}
        ">
    <div class="
    {{#if myMsg}}
        {{styles.from__item}}
    {{else}}
        {{styles.to__item}}
    {{/if}}
    ">
        {{message}}
        <div class="{{styles.message__time}}">{{time}}</div>
    </div>
</div>
