<div class="{{styles.chat__container}}">
    <h1 class="{{styles.search__header}}">
        {{{addChat}}}
        {{{link}}}
        {{{input}}}
    </h1>
    <section class="{{styles.feed__container}}">

        {{{users}}}


        {{#if showChatInput}}
            {{{chatInput}}}
        {{/if}}

        {{#if isLoaded}}
            {{{chats}}}
            {{else}}
            <div class="{{styles.loading}}">Идет загрузка...</div>
        {{/if}}

    </section>
</div>
