<div class="{{styles.chat__container}}">
    <h1 class="{{styles.search__header}}">
        {{{link}}}
        {{{input}}}
    </h1>
    <section class="{{styles.feed__container}}">

        {{{users}}}

        {{{chats}}}

    </section>
</div>
