<section class="{{styles.profile__component}}">
    <a href="#/SelectChat" class="{{styles.profile__back}}">
        <div class="{{styles.profile__arrow}}"></div>
    </a>
    <div class="{{styles.profile__main}}">
        <div class="{{styles.profile__container}}">
            <div class="{{styles.profile__image}}"></div>
            <p class="{{styles.profile__name}}">{{accountName}}</p>
            <main class="{{styles.profile__items}}">

                {{#if defaultContext}}
                    {{{defaultField}}}
                {{/if}}

                {{#if changePassword}}
                   {{{passwordChanged}}}
                {{/if}}

                {{#if changeData}}
                    {{{dataChanged}}}
                {{/if}}


            </main>
            <footer class="{{styles.profile__action__container}}">

                {{#if defaultContext}}
                    {{{changeData}}}
                    {{{changePassword}}}
                    {{{exit}}}

                    {{else}}
                    {{{button}}}

                {{/if}}

            </footer>
        </div>
    </div>
</section>
