<section class="{{styles.profile__component}}">
    <a href="#/SelectChat" class="{{styles.profile__back}}">
        <div class="{{styles.profile__arrow}}"></div>
    </a>
    <div class="{{styles.profile__main}}">
        <div class="{{styles.profile__container}}">
            <div class="{{styles.profile__image}}"></div>
            <p class="{{styles.profile__name}}">{{accountName}}</p>
            <main class="{{styles.profile__items}}">


                {{#if defaultProfile}}
                    {{{mail}}}
                    {{{login}}}
                    {{{name}}}
                    {{{surname}}}
                    {{{displayName}}}
                    {{{phone}}}
                {{/if}}

                {{#if goToChangeData}}
                    {{{mailInp}}}
                    {{{loginInp}}}
                    {{{nameInp}}}
                    {{{surnameInp}}}
                    {{{displayNameInp}}}
                    {{{phoneInp}}}
                {{/if}}

            </main>
            <footer class="{{styles.profile__action__container}}">

                {{#if defaultProfile}}
                    {{{changeData}}}
                    {{{changePassword}}}
                    {{{exit}}}
                {{/if}}

                {{#if goToChangeData}}
                    {{{button}}}
                {{/if}}


            </footer>
        </div>
    </div>
</section>
