<main class="{{styles.profile__component}}">
    <a class="{{styles.profile__back}}">
        {{{arrow}}}
    </a>
    <div class="{{styles.profile__main}}">
        <div class="{{styles.profile__container}}">
            <div class="{{styles.profile__image}}">

                {{{avatarInput}}}
                {{{avatar}}}


            </div>
            <p class="{{styles.profile__name}}">{{accountName}}</p>
            <section class="{{styles.profile__items}}">

                {{#if dataContext.[0]}}
                    {{{defaultField}}}
                {{/if}}

                {{{invalidMail}}}

                {{#if dataContext.[1]}}
                    {{{changeData}}}
                {{/if}}

                {{#if dataContext.[2]}}
                    {{{changePassword}}}
                {{/if}}


            </section>
            <footer class="{{styles.profile__action__container}}">

                {{#if dataContext.[0]}}
                    {{{changeDataNav}}}
                    {{{changePasswordNav}}}
                    {{{exit}}}

                    {{else}}
                    {{{button}}}

                {{/if}}

            </footer>
        </div>
    </div>
</main>
