<div class="{{styles.modal__box}}  {{#if isShown}} {{styles.isShown}} {{/if}}">
    <div class="{{styles.modal__container}}">
        {{{input}}}
        {{{button}}}
        <div class="{{styles.usersInChat}}">
            {{{usersInChat}}}
            {{{deleteButton}}}
        </div>
        {{{users}}}
    </div>
</div>

