<section class="{{styles.err__container}}">
    <h class="{{styles.err__header}}">{{number}}</h>
    <p class="{{styles.err__text}}">{{title}}</p>
    <a href="#/SelectChat" class="{{styles.welcome__link}}">Назад к чатам</a>
</section>