{{#each profileData}}
    <div class="{{../profileBoxStyle}}">
            <h class="{{../../headerStyle}}">{{label}}</h>
            <input type="text" class="{{../../headerInfo}}" name="{{name}}" placeholder="{{value}}">
    </div>
{{/each}}