<div class="{{styles.selectchat__container}}">
    <div class="{{styles.chat__container}}">
        <header class="{{styles.search__header}}">

            <a href="{{link}}" class="{{styles.search__profile}}">Профиль</a>
            <input class="{{styles.search__input}}" type="text" placeholder="Поиск">

        </header>
        <main class="{{styles.feed__container}}">

            {{{chat}}}

        </main>
    </div>
    {{{messanger}}}

</div>
