<main class="{{styles.selectchat__container}}">
    <div class="{{styles.chat__container}}">
        <h1 class="{{styles.search__header}}">

            <a href="{{link}}" class="{{styles.search__profile}}">Профиль</a>
            <input class="{{styles.search__input}}" type="text" placeholder="Поиск">

        </h1>
        <section class="{{styles.feed__container}}">

            {{{chat}}}

        </section>
    </div>
    {{{messanger}}}

</main>
