<div class="{{styles.profile__box}}">
    <a class="
    {{styles.profile__action__header}}
        {{#if isExit}}
        {{styles.profile__action__exit}}
        {{/if}}
    " href='{{link}}'>
        {{title}}
    </a>
</div>
<!--
<div class="{{styles.profile__box}}">
    <a class="{{styles.profile__action__header}}" href="#/ChangePassword">
        Изменить пароль
    </a>
</div>
<div class="{{styles.profile__box}} {{styles.profile__last}}">
    <h class="{{styles.profile__action__exit}}">
        Выход
    </h>
</div>-->
