<section class="{{styles.welcome__container}}">
    <form class="{{styles.welcome__box}}">
        <header class="{{styles.welcome__header}}">Регистрация</header>
        <main>
            <div class="{{styles.login__container}}">
                <p class="{{styles.login__info}}">{{mailName}}</p>
                {{{mailInput}}}
            </div>
            <div class="{{styles.login__container}}">
                <p class="{{styles.login__info}}">{{loginName}}</p>
                {{{loginInput}}}
            </div>
            <div class="{{styles.login__container}}">
                <p class="{{styles.login__info}}">{{name}}</p>
                {{{nameInput}}}
            </div>
            <div class="{{styles.login__container}}">
                <p class="{{styles.login__info}}">{{surname}}</p>
                {{{surnameInput}}}
            </div>
            <div class="{{styles.login__container}}">
                <p class="{{styles.login__info}}">{{phoneName}}</p>
                {{{phoneInput}}}
            </div>
            <div class="{{styles.login__container}}">
                <p class="{{styles.login__info}}">{{passwordName}}</p>
                {{{passwordInput}}}
            </div>
            <div class="{{styles.login__containerLast}}">
                <p class="{{styles.login__info}}">{{passwordNameAgain}}</p>
                {{{passwordInputAgain}}}
            </div>
        </main>
        <footer>
            {{{button}}}
            {{{link}}}
        </footer>
    </form>
</section>
