<div class="{{styles.chat__item}}  {{#if selectedChat }}{{ styles.chat__selected }}{{/if}}">
    <div class="{{styles.chat__avatar}}">
        {{{chatAvatar}}}
    </div>
    <div class="{{styles.user__info}}">
        <h1 class="{{styles.user__name}}">
            {{title}}
            {{{delete}}}
        </h1>

        <div class="{{styles.user__message}}">
           <h class="{{styles.userName}}">{{userName}} </h> {{last_message}}
        </div>
    </div>
    <div class="{{styles.user__notes}}">
        <p class="{{styles.user__time}}">
            {{time}}
        </p>
        {{#if unread_count.unread_count}}
        <div class="{{styles.user__notification}}">{{unread_count.unread_count}}</div>
        {{/if}}
    </div>
</div>
