    <div class="{{styles.chatMessage__container}}">
        <header class="{{styles.header__container}}">
            <div class="{{styles.header__item}}">
                <span class="{{styles.header__avatar}}"></span>
                <h class="{{styles.header__username}}">{{profileName}}</h>
            </div>

            {{{showModal}}}


            {{{modal}}}


        </header>
        <main class="{{styles.main__container}}">
           {{{time}}}
            {{{messages}}}
        </main>
        <footer class="{{styles.footer__container}}">
            <svg class="{{styles.footer__icon}}"></svg>
            {{{messengerInput}}}
            {{{button}}}
        </footer>
    </div>
