
<div class="{{styles.chatMessage__container}}">

    {{#if isLoaded}}
        123
    {{/if}}

    {{#if userModal}}
        {{{addUserModal}}}
    {{/if}}

    <header class="{{styles.header__container}}">
            <div class="{{styles.header__item}}">
                <span class="{{styles.header__avatar}}">
                    {{{chatAvatar}}}
                </span>
                <h class="{{styles.header__username}}">{{chatName}}</h>
            </div>

            {{{modal}}}

            {{{showModal}}}

        </header>
        <main class="{{styles.main__container}}">
            {{{time}}}
            {{{messages}}}

        </main>
        <footer class="{{styles.footer__container}}">
            <svg class="{{styles.footer__icon}}"></svg>
            {{{messengerInput}}}
            {{{button}}}
        </footer>
</div>
