
<div class="{{styles.chatMessage__container}}">

    {{#if userModal}}
        {{{addUserModal}}}
    {{/if}}
    {{#if isLoaded}}
    <header class="{{styles.header__container}}">
            <div class="{{styles.header__item}}">
                <span class="{{styles.header__avatar}}">
                    {{{chatAvatar}}}
                </span>
                <h class="{{styles.header__username}}">{{chatName}}</h>
            </div>

            {{{modal}}}

            {{{showModal}}}

        </header>

        <main class="{{styles.main__container}}" id="main">

            <div class="{{styles.main__time}}">{{time}}</div>
            {{{messages}}}

        </main>


            <footer class="{{styles.footer__container}}">
                <svg class="{{styles.footer__icon}}"></svg>
                {{{messengerInput}}}
                {{{button}}}
            </footer>

        {{else}}
        <div class="{{styles.loading}}">Идет загрузка...</div>
        {{/if}}

</div>
