{{#each fromMessages}}

<div class="{{../fromContainerStyle}}">
    <div class="{{../fromItemStyle}}">{{this}}
        <div class="{{../currentTimeStyle}}">{{../fromTime}}</div>
    </div>
</div>

{{/each}}

{{#each toMessages}}

<div class="{{../toContainerStyle}}">
    <div class="{{../toItemStyle}}">{{this}}
        <div class="{{../currentTimeStyle}}">{{../toTime}}</div>
    </div>
</div>

{{/each}}
