    <div class="{{signInContainer}}">
        <p class="{{signInHeader}}">{{email}}</p>
        <input type="text" name="email" class="{{signInInput}}">
    </div>
    <div class="{{signInContainer}}">
        <p class="{{signInHeader}}">{{login}}</p>
        <input type="text" name="login" class="{{signInInput}}">
    </div>
    <div class="{{signInContainer}}">
        <p class="{{signInHeader}}">{{first_name}}</p>
        <input type="text" name="first_name" class="{{signInInput}}">
    </div>
    <div class="{{signInContainer}}">
        <p class="{{signInHeader}}">{{second_name}}</p>
        <input type="text" name="second_name" class="{{signInInput}}">
    </div>
    <div class="{{signInContainer}}">
        <p class="{{signInHeader}}">{{phone}}</p>
        <input type="text" name="phone" class="{{signInInput}}">
    </div>
    <div class="{{signInContainer}}">
        <p class="{{signInHeader}}">{{password}}</p>
        <input type="password" name="password" class="{{signInInput}}">
    </div>
    <div class="{{signInContainer}} {{signInMixin}}">
        <p class="{{signInHeader}}">{{passwordConfirm}}</p>
        <input type="password" class="{{signInInput}}">
    </div>


